

.top-left img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.top-right h1 {
    height: 70px;
    margin-right: 10px;
}






#flexbox {
width: 100%;
}



#content {
    padding: 20px;
    grid-area: content;
    background-color: #ffffff;
}


#upper-bar {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2; /* Set a    higher z-index value */
    width: 100%;
    align-items: stretch;
    height:auto;
    top:0;
    left:0;
    z-index: 9999;
}
#header {
    grid-area: header;
    background-color: #f0f0f0;
}

#sidebar {
    background-color: #f2f2f2;
    padding: 20px;
    width: 80px;
    
    position: relative;
    grid-area: sidebar;
}
#container {
    display: flex;
    flex-direction: row;
    height: 100%;
}


#page-title {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

#page-title img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#page-title h1 {
    margin: 0;
    font-size: 18px;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: darkorange;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#sidebar-buttons .button{
    background-color: orange;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.grid-container {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 60px auto;
    grid-template-areas:
        "header header"
        "sidebar content";
    height: 100vh; /* Adjust to desired height */
}

/* Additional CSS styles for the header */




@media (max-width: 768px) {
    #sidebar.expanded {
        width: 0;
    }
    
    #sidebar-button {
        display: block;
    }
}

